<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historical Weather - API</title>
</head>
<body>
<h1>Historical Weather - API</h1>
<p> url format: http://127.0.0.1:5000/api/v1/station/date</p>
<p> url example: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
<br>
<p> **Reference Table Codes; </p>
<p> STAID: Station identifier | STANAME: Station name |  CN: Country code</p>
<br>
<p> Reference Table - to be used with url as shown in 'url example' </p>
<p> {{data|safe}} </p>
</body>
</html>
